.price-history{
  margin-top: 20px;
  width: 300px;
}

.price-history-row{
  display: grid;
  grid-template-columns: auto 70px 70px;
  align-items: center;
  margin: 5px 0;
}

.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}